# Environnement
.env
.env.local
.env.*.local

# Clés JWT
backend/config/jwt/private.pem
backend/config/jwt/public.pem

# Dépendances
frontend/node_modules/

# Build
frontend/dist/

# IDE
.idea/
.vscode/
*.swp
*.swo
